@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

$primary-color: rgb(101, 232, 255);
$main-font: "Montserrat", sans-serif;
$main-textcolor: rgb(59, 59, 59);
$homebg: url("../images/homebg2.png");
