#bg {
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: black;
      opacity: 0.5;
      z-index: -1;
    }
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }
  
  .big-heading {
    font-size: 2rem;
    margin-left: 10vw;
  
    .accent {
      color: $primary-color;
    }
  
    .info-text {
      font-size: 2rem;
    }
  }
  
  .media-links {
    margin-right: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include easingOut;
  
    > * {
      margin: 1.5rem 0;
      @include easingOut;
      &:hover {
        color: $primary-color;
      }
    }
  
    &.open {
      opacity: 0;
    }
  }