@import "config";
@import "menu";
//@import "index_style";
@import "mobile";

html {
  font-size: 13px;
}

body {
  margin: 0;
  padding: 0 10vw;
  box-sizing: border-box;
  font-family: $main-font;
  color: $main-textcolor;
  background: $homebg;
  width: 100%;
  height: 100%;
  background-size: auto;
  //line-height: 1.5rem;
  overflow: hidden;

  i {
    color: white;
  }
}

#bg {
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: black;
    opacity: 0.5;
    z-index: -1;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.big-heading {
  font-size: 1.5rem;

  .accent {
    color: $primary-color;
  }

  .info-text {
    font-size: 1.5rem;
  }
}

.media-links {
  margin-right: 1rem;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  visibility: visible;
  @include easingOut;

  > a {
    margin: 1.5rem 0;

    > i:hover {
      @include easingOut;
      color: $primary-color;
    }
  }

  &.open {
    opacity: 0;
    visibility: hidden;
  }
}

.projects {
  //margin-left: 10vw;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  

  .single-project {
    background-color: rgba(63, 63, 63, 0.466);
    border: 3px solid white;
    text-align: center;
    padding: 20px 10px;
    max-width: 300px;
    img {
      width: 100px;
      height: 100px;
    }

    .button {
      height: 2.7rem;
      width: 8rem;
      background: transparent;
      border: 2px solid $primary-color;
      border-radius: 5px;
      font-size: 1.2rem;
      color: white;
      margin-top: 10px;
      @include easingOut;

      &:hover {
        background-color: $primary-color;
      }

      > * {
        margin: 0 0.5rem;
      }
    }
  }
}

.contact-info {
  margin-top: 5%;
  font-size: 0.6rem;
  border: 3px solid $primary-color;
  width: fit-content;
  padding: 0 1rem;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: $primary-color;
  border-radius: 10px;
}

@import "mobile";
